@font-face {
  font-family: NunitoSans;
  src: url(/fonts/NunitoSans-Light.ttf);
}

* {
  margin: 0;
  font-family: NunitoSans;
}

html {
  scroll-behavior: smooth;
}

.background {
  background-color: #111827;
}

.nav_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #111827;
  padding: 10px;
  padding-top: auto;
  margin-bottom: auto;
}

.logo {
  color: white;
  font-size: 25px;
}

.nav_items {
  display: inline-block;
  color: white;
  font-size: 20px;
}

a, a:visited {
  text-decoration: none;
  color: white;
}

.hero {
  height: 89vh;
  background-image: url(/images/hero_image.jpg);
  background-size: cover;
  background-color: #111827;
  background-attachment: fixed;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);
  margin-bottom: 10vh;
}

.down_arrow {
  width: 50px;
  fill: white;
}

.down_arrow_animate {
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: down_arrow_bounce 2s linear infinite;
          animation: down_arrow_bounce 2s linear infinite;
}

.typeWriter {
  font-size: 75px;
  position: fixed;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.cursor {
  font-weight: bold;
  color: #008cff;
  -webkit-animation: blink_cursor 1s linear infinite;
          animation: blink_cursor 1s linear infinite;
}

.about {
  opacity: 0;
  height: 50vh;
  width: 50%;
  margin: auto;
  -webkit-transition: 2s ease-in;
  transition: 2s ease-in;
  background-color: indigo;
}

.about.appear {
  opacity: 1;
}

.profile_pic {
  background-color: #111827;
  background-image: url(/images/me.jpeg);
  background-size: cover;
  background-position: center;
  height: 250px;
  width: 250px;
  border-radius: 10000px;
  position: absolute;
  top: 72vh;
  left: 26vh;
  opacity: 0;
  -webkit-transition: 1s ease-in;
  transition: 1s ease-in;
}

.profile_pic.appear {
  opacity: 1;
  left: 36vh;
}

.profile_pic_animate {
  background-color: white;
  height: 250px;
  width: 250px;
  border-radius: 10000px;
  position: absolute;
  top: 72vh;
  left: 26vh;
  opacity: 0;
  -webkit-animation: profile_pic_ping 3s linear infinite;
          animation: profile_pic_ping 3s linear infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-transition: 1s ease-in;
  transition: 1s ease-in;
}

.profile_pic_animate.appear {
  opacity: 1;
  left: 36vh;
}

.heading_format {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.heading {
  color: white;
  font-size: 25px;
  white-space: nowrap;
  margin-left: 20px;
  margin-right: 20px;
}

.heading_placeholder {
  width: 100%;
  height: 5px;
  margin-top: auto;
  margin-bottom: auto;
  background-color: #008cff;
  border-radius: 12px;
}

.paragraph {
  color: white;
}

@-webkit-keyframes blink_cursor {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes blink_cursor {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes down_arrow_bounce {
  0% {
    top: 70%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    top: 75%;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    top: 70%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes down_arrow_bounce {
  0% {
    top: 70%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    top: 75%;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    top: 70%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes profile_pic_ping {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes profile_pic_ping {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
/*# sourceMappingURL=style.css.map */